$main-text-color: #000000;
$second-text-color: #907e82;
$third-text-color: #ffffff;
$background-color: #fff5f6;
$overlay-color: rgba(255, 245, 246, 0.6);
$second-background-color: #f0d1a5;
$third-background-color: #c2e297;
$accent-color: #d41443;
$second-accent-color: #ffb8ca;
$third-accent-color: #ffa5ba;
$menu-color: #e17992;
$hover-color: #ecebeb;
