<section class="contacts" id="contacts">
   
    <div class="container contacts__box">
        <h2 class="visually-hidden">Contacts card</h2>
        
        <ul class="contacts__list-card">
            <li class="contacts__item-card">
                <span class="contact__label label-one">CAFE</span>
                <h3 class="contact__title">Chicago</h3>
                <p class="contact__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contact__date">Monday - Friday</p>
                <p class="contact__time">06:00 AM - 10:00 PM</p>
                <p class="contact__date">Saturday - Sunday</p>
                <p class="contact__time last">08:00 AM - 16:00 PM</p>
                <a href="tel:+61(0) 383 766 284" class="contact__tel link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contact__mail link">noreply@envato.com</a>

            </li>
            <li class="contacts__item-card">
                <span class="contact__label label-two">FOODTRUCK</span>
                <h3 class="contact__title">Los Angeles</h3>
                <p class="contact__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contact__date">Monday - Friday</p>
                <p class="contact__time">06:00 AM - 10:00 PM</p>
                <p class="contact__date">Saturday - Sunday</p>
                <p class="contact__time last">08:00 AM - 16:00 PM</p>
                <a href="tel:+61(0) 383 766 284" class="contact__tel link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contact__mail link">noreply@envato.com</a>

            </li>
            <li class="contacts__item-card">
                <span class="contact__label label-three">CAFE</span>
                <h3 class="contact__title">New York</h3>
                <p class="contact__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="contact__date">Monday - Friday</p>
                <p class="contact__time">06:00 AM - 10:00 PM</p>
                <p class="contact__date">Saturday - Sunday</p>
                <p class="contact__time last">08:00 AM - 16:00 PM</p>
                <a href="tel:+61(0) 383 766 284" class="contact__tel link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contact__mail link">noreply@envato.com</a>

            </li>
        </ul>



        <ul class="contact__list-btn">

            <li class="contact__item-btn ">
                <button type="button" class="btn--dark btn-our-loc js-open-modal" 
                        data-modal="our-location">
                    Our Locations
                    <svg class="contact__icon">
                        <use href="./images/icons.svg#icon-next-white"></use>
                    </svg>
                </button>
            </li>


            <li class="contact__item-btn ">
                <button type="button" class="btn-franchise btn js-open-modal" data-modal="Franchise">
                    Franchise
                    <svg class="contact__icon">
                        <use href="./images/icons.svg#icon-next"></use>
                    </svg>
                </button>
            </li>
        </ul>

        <div class="modal js-modal modal-menu" data-modal="our-location">
            <svg class="modal__cross js-close-modal" aria-label="Переключатель мобильного меню">
                <use href="./images/icons.svg#menu-icon-cross"></use>
            </svg>
            <h2 class="modal__title-contact">Our Location</h2>
            <p class="modal__text-contact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem tempore fugit ea, sit blanditiis.</p>



        <div class="maps-wrap">

            <div class="maps-ice">
            <iframe class="maps-ice-local"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1252.504803144341!2d17.06870240083498!3d51.10828292865284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe829baf8783b%3A0xe5844698da62c438!2sPrze%C5%82am%20Lody!5e0!3m2!1sru!2spl!4v1642454531086!5m2!1sru!2spl"
                width="100%" height="100%" style="border: 1px" allowfullscreen="" loading="lazy"></iframe>
            </div>


        </div>
        </div>

        <div class="modal js-modal modal-menu" data-modal="Franchise">
            <svg class="modal__cross js-close-modal" aria-label="Переключатель мобильного меню">
                <use href="./images/icons.svg#menu-icon-cross"></use>
            </svg>
            
                <h2 class="modal__title-contact">Franchise</h2>
                <p class="modal__text-contact">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem tempore fugit ea, sit
                    blanditiis.</p>
                <div class="wrap-franchise">
                    
                    <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                   <div class="snowflake"></div>
                </div>
        </div>

    </div>
</section>