<section class="review">
    <div class="slider">
        <div class="slider-item">
            <picture>
                <source srcset="images/customer-reviews/testimonials1.png 1x,
                                     images/customer-reviews/testimonials1-2x.png 2x" media="(min-width: 1200px)">
                <img class="slider-img" src="images/customer-reviews/testimonials1.png">
            </picture>
            <div class="slider-text">
                <p class="slider-title">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="slider-bottom">
                <span class="slider-paragraph">Emily, Los Angeles</span>
            </div>
        </div>
        <div class="slider-item">
            <picture>
                <source srcset="images/customer-reviews/testimonials2.png 1x,
                     images/customer-reviews/testimonials2-2x.png 2x" media="(min-width: 1200px)">
                <img class="slider-img" src="images/customer-reviews/testimonials2.png">
            </picture>
            <div class="slider-text">
                <p class="slider-title">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="slider-bottom">
                <span class="slider-paragraph">Sasha, New York </span>
            </div>
        </div>
        <div class="slider-item">
            <picture>
                <source srcset="images/customer-reviews/testimonials3.png 1x,
                                     images/customer-reviews/testimonials3-2x.png 2x" media="(min-width: 1200px)">
                <img class="slider-img" src="images/customer-reviews/testimonials3.png">
            </picture>
            <div class="slider-text">
                <p class="slider-title">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="slider-bottom">
                <span class="slider-paragraph">Andrea, Boston </span>
            </div>
        </div>
    </div>

</section>