<section class="section__gallery">
  <div class="container">
    <div class="masonry__gallery">
      <div class="masonry__col masonry__col--geo1">
        <div class="masonry__item">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream1-desktop.png    1x,
                images/gallery/desktop/ice-cream1-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream1-tab.png    1x,
                images/gallery/tablet/ice-cream1-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream1-mob.png    1x,
                images/gallery/mobile/ice-cream1-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream1-mob.png"
              class="masonry__photo"
              alt="Img 1"
              width="140"
            />
          </picture>
        </div>
      </div>
      <div class="masonry__col masonry__col--geo2">
        <div class="masonry__item masonry__item--geo">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream2-desktop.png    1x,
                images/gallery/desktop/ice-cream2-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream2-tab.png    1x,
                images/gallery/tablet/ice-cream2-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream2-mob.png    1x,
                images/gallery/mobile/ice-cream2-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream2-mob.png"
              class="masonry__photo"
              alt="Img 2"
              width="140"
            />
          </picture>
        </div>

        <div class="masonry__item">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream3-desktop.png    1x,
                images/gallery/desktop/ice-cream3-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream3-tab.png    1x,
                images/gallery/tablet/ice-cream3-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream3-mob.png    1x,
                images/gallery/mobile/ice-cream3-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream3-mob.png"
              class="masonry__photo"
              alt="Img 3"
              width="140"
            />
          </picture>
        </div>
      </div>
      <div class="masonry__col masonry__col--geo3">
        <div class="masonry__item masonry__item--geo">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream4-desktop.png    1x,
                images/gallery/desktop/ice-cream4-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream4-tab.png    1x,
                images/gallery/tablet/ice-cream4-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream4-mob.png    1x,
                images/gallery/mobile/ice-cream4-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream4-mob.png"
              class="masonry__photo"
              alt="Img 4"
              width="140"
            />
          </picture>
        </div>

        <div class="masonry__item">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream5-desktop.png    1x,
                images/gallery/desktop/ice-cream5-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream5-tab.png    1x,
                images/gallery/tablet/ice-cream5-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream5-mob.png    1x,
                images/gallery/mobile/ice-cream5-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream5-mob.png"
              class="masonry__photo"
              alt="Img 5"
              width="140"
            />
          </picture>
        </div>
      </div>
      <div class="masonry__col masonry__col--geo4">
        <div class="masonry__item masonry__item--geo">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream6-desktop.png    1x,
                images/gallery/desktop/ice-cream6-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream6-tab.png    1x,
                images/gallery/tablet/ice-cream6-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream6-mob.png    1x,
                images/gallery/mobile/ice-cream6-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream6-mob.png"
              class="masonry__photo"
              alt="Img 6"
              width="140"
            />
          </picture>
        </div>

        <div class="masonry__item">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream7-desktop.png    1x,
                images/gallery/desktop/ice-cream7-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream7-tab.png    1x,
                images/gallery/tablet/ice-cream7-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream7-mob.png    1x,
                images/gallery/mobile/ice-cream7-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream7-mob.png"
              class="masonry__photo"
              alt="Img 7"
              width="140"
            />
          </picture>
        </div>
      </div>
      <div class="masonry__col masonry__col--geo5">
        <div class="masonry__item masonry__item--geo">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream8-desktop.png    1x,
                images/gallery/desktop/ice-cream8-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream8-tab.png    1x,
                images/gallery/tablet/ice-cream8-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream8-mob.png    1x,
                images/gallery/mobile/ice-cream8-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream8-mob.png"
              class="masonry__photo"
              alt="Img 8"
              width="140"
            />
          </picture>
        </div>

        <div class="masonry__item">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream9-desktop.png    1x,
                images/gallery/desktop/ice-cream9-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream9-tab.png    1x,
                images/gallery/tablet/ice-cream9-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream9-mob.png    1x,
                images/gallery/mobile/ice-cream9-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream9-mob.png"
              class="masonry__photo"
              alt="Img 9"
              width="140"
            />
          </picture>
        </div>
      </div>
      <div class="masonry__col masonry__col--geo6">
        <div class="masonry__item">
          <picture>
            <source
              srcset="
                images/gallery/desktop/ice-cream10-desktop.png    1x,
                images/gallery/desktop/ice-cream10-desktop-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                images/gallery/tablet/ice-cream10-tab.png    1x,
                images/gallery/tablet/ice-cream10-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                images/gallery/mobile/ice-cream10-mob.png    1x,
                images/gallery/mobile/ice-cream10-mob-2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="images/gallery/mobile/ice-cream10-mob.png"
              class="masonry__photo"
              alt="Img 10"
              width="140"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
