<section class="hero" id="hero">
    <div class="container hero-container">
        <span class="hero__pink-circle"></span>
        <span class="hero__ice-cream"></span>
        <h1 class="hero__title">
            Ice cream made with <span class="hero__title--color">passion</span>
        </h1>
        <a href="#products" class="btn--dark hero__button hero__button--dark" data-modal-open>Products</a>
        <a href="#about" class="btn hero__button">How it’s
            made?</a>
        <div class="hero__tablet">
            <span class="hero__girl"></span>
            <span class="hero__milk"></span>
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et</p>
            <button type="button" class="button-circle hero__button-circle js-open-modal" data-modal="bio-eco">
                <svg>
                    <use class="hero__button-icon" href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
            <div class="modal js-modal" data-modal="bio-eco">
                <svg class="modal__cross js-close-modal"
                            aria-label="Переключатель мобильного меню">
                  <use href="./images/icons.svg#menu-icon-cross"></use>
                </svg>
                <h2 class="modal__title">Bio Eco</h2>
                <p class="modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                  sapiente
                  maiores reprehenderit
                  tempore excepturi!</p>
              </div>

            <ul class="advant-list">
                <li class="advant-list__item">
                    <span class="advant-list__circle"></span>
                    <span class="advant-list__number">16</span>
                    <span class="advant-list__text">cafes</span>
                </li>
                <li class="advant-list__item">
                    <span class="advant-list__circle advant-list__circle--bottom"></span>
                    <span class="advant-list__number advant-list__number--bottom">23</span>
                    <span class="advant-list__text advant-list__text--bottom">food trucks</span>
                </li>
            </ul>
        </div>
    </div>
</section>