.modal {
  /* скрываем МО */
  opacity: 0;
  visibility: hidden;
  width: 80%;
  /*  Установаем ширину окна  */
 

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 22px;
  border: 1px solid $accent-color;
  padding: 20px;
  z-index: 3;

  background-color: $third-text-color;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__title {
    color: $accent-color;
    text-align: center;
    margin-bottom: 15px;
  }
  &__text {
    color: $second-text-color;
    text-align: center;
  }
  @media screen and (min-width: 480px) {
    width: 50%;
    
  }
}

.modal.is-open,
.overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  @extend %pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  fill: $accent-color;
}

.overlay {
  /* скрываем подложку */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
