.review {
  @include sectionPadding($top: 40px, $bottom: 43px);

  @media screen and (min-width: 768px) {
    @include sectionPadding($top: 60px, $bottom: 60px);
  }
  @media screen and (min-width: 1280px) {
    @include sectionPadding($top: 61px, $bottom: 76px);
  }
}
.slider {
  @include flexCentered($display: block, $a-i: center, $j-c: center);
  text-align: center;
  min-width: 0;
}
.slider-img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.slider-text {
  padding: 43px 66px 26px 57px;
  margin: 0 auto;
  background-color: #fafafa;
  max-width: 280px;
  &:not(:last-child) {
    margin-bottom: 52px;
  }

  @media screen and (min-width: 768px) {
    max-width: 620px;
    &:not(:last-child) {
      margin-bottom: 42px;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 926px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.slider-title {
  position: relative;
  display: block;
  letter-spacing: 0.04em;
  margin: 0 auto;
  @include font($l-h: 2.58);
  max-width: 157px;
  z-index: 1;
  background-image: repeating-linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 29px,
    #e1e1e1 0,
    #e1e1e1 30px
  );
  &::before {
    position: absolute;
    z-index: -1;
    display: block;
    top: -12px;
    left: -34px;
    content: '';
    background-image: url(../images/customer-reviews/quotes.png);
    background-size: contain;
    width: 54px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    @include font($f-s: 14px, $l-h: 2.14);
    max-width: 460px;
  }
  @media screen and (min-width: 1280px) {
    @include font($f-s: 16px, $l-h: 1.87);
    max-width: 750px;
    max-height: 83px;
  }

  .slider-paragraph {
    display: block;
    @include font($f-s: 14px, $l-h: 1.85);
    color: #000000;
    @media screen and (min-width: 768px) {
      max-width: 460px;
    }
    @media screen and (min-width: 1280px) {
      max: width 750px;
      font-size: 20px;
    }
  }
}
.slider-bottom {
  margin-top: -15px;
  &::before {
    content: '...';
    font-size: 40px;
    color: #c7133e;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 15px;
  }
}
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slider {
  position: relative;
  @include flexCentered($display: block, $a-i: center, $j-c: center);
  text-align: center;
  min-width: 0;
}

.slick-dots {
  padding-left: 0;
  @include flexCentered($display: flex, $a-i: center, $j-c: center);
}
.slick-dots li {
  list-style: none;
  &:not(:last-child) {
    margin-right: 18px;
  }
}
.slick-dots li.slick-active button {
  background-image: url(../images/customer-reviews/home.png);
  background-color: transparent;
  width: 12.4px;
  height: 12px;
  border-radius: 0%;
}
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: none;
}
