.hero {
    width: 100%;
    background-color: $second-accent-color;

    @media screen and (max-width: 767px) {
        height: 502px;
        @include sectionPadding(83px, 193px);
    }

    @media screen and (min-width: 768px) {
        @include sectionPadding(102px, 173px);
        height: 399px;
    }

    @media screen and (min-width: 1280px) {
        @include sectionPadding(171px, 292px);
        height: 665px;
    }
}

.hero-container {
    position: relative;
}

.hero__pink-circle {
    @media screen and (max-width: 767px) {
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    width: 284px;
    height: 344px;
    background-image: url('../images/hero-header/mobile/ellipse.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/mobile/ellipse-2x.png');
        }
        
        @media screen and (min-width: 480px) {
            right: -5px;
        }
    }   

    @media screen and (min-width: 768px) {
        position: absolute;
        width: 324px;
        height: 322px;
        top: -71px;
        left: 285px;
        border-radius: 50%;
        background-color: $third-accent-color;
    }

    @media screen and (min-width: 1280px) {
        width: 538px;
        height: 538px;
        top: -120px;
        left: 370px;
    }
}

.hero__ice-cream {
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 767px) {
        top: 9px;
        right: 32px;
        width: 171px;
        height: 410px;
        background-image: url('../images/hero-header/mobile/icecream-mobile.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/mobile/icecream-mobile-x2.png');
        }
    }

    @media screen and (min-width: 768px) {
        top: -39px;
        left: 378px;
        width: 143px;
        height: 336px;
        background-image: url('../images/hero-header/tablet/icecream-tablet.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/tablet/icecream-tablet-x2.png');
        }
    }

    @media screen and (min-width: 1280px) {
        top: -63px;
        left: 495px;
        width: 236px;
        height: 557px;
        background-image: url('../images/hero-header/desktop/icecream-desktop.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/desktop/icecream-desktop.png');
        }
    }
}

.hero__title {
    font-family: Titan One;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $third-text-color;
    @include font($f-s: 26px, $f-w: 400, $l-h: 1.15);
    width: 218px;

    &--color {
        @include font($f-s: 48px, $f-w: 400, $l-h: 1.15);
        color: $accent-color;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 110px;
        left: 20px;
    }

    // @media screen and (min-width: 570px) {
    //     position: unset;
    //     
    // }

    @media screen and (min-width: 768px) {
        width: 162px;
        @include font($f-s: 22px, $f-w: 400, $l-h: 1.15);
        margin-bottom: 20px;

        &--color {
        @include font($f-s: 34px, $f-w: 400, $l-h: 1.15);
        color: $accent-color;
        }
    }

    // @media screen and (min-width: 960px) {
    //     position: absolute;
    //     top: 102px;
    //     left: 130px;
    //     width: 162px;
    // }

    @media screen and (min-width: 1280px) {
        position: unset;
        width: 277px;
        @include font($f-s: 38px, $f-w: 400, $l-h: 1.15);
        margin-bottom: 25px;

        &--color {
        @include font($f-s: 58px, $f-w: 400, $l-h: 1.15);
        color: $accent-color;
        }
    }
}

.hero__button {
    @extend %link;
    @include flexCentered(inline-flex);
    position: absolute;
    width: 83px;
    height: 24px;
    @include font($f-s: 8px, $f-w: 400, $l-h: 1.3);
    top: 235px;
    left: 90px;

    &--dark {
        width: 62px;
        height: 24px;
        top: 235px;
        left: 20px;
    }

    @media screen and (min-width: 768px) {
        position: unset;

        &--dark {
        margin-right: 8px;
        }
    }

    // @media screen and (min-width: 768px) {
    //     &--dark {
    //     width: 62px;
    //     height: 24px;
    //     }
    // }

    // @media screen and (min-width: 960px) {
    //     position: absolute;
    //     top: 202px;
    //     left: 200px;

    //     &--dark {
    //     top: 202px;
    //     left: 130px;
    //     }
    // }

    @media screen and (min-width: 1280px) {
        @include font($f-s: 14px, $f-w: 400, $l-h: 1.3);
        position: unset;
        width: 138px;
        height: 40px;
        
        &--dark {
        margin-right: 15px;
        width: 104px;
        height: 40px;
        }
    }
}

.hero__tablet {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.hero__girl {
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 168px;
    height: 133px;
    top: 164px;
    right: 14px;
    background-image: url('../images/hero-header/tablet/girl-tablet.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/tablet/girl-tablet-2x.png');
    }
    @media screen and (min-width: 1280px) {
        width: 293px;
        height: 232px;
        top: 262px;
        right: -8px;
        background-image: url('../images/hero-header/desktop/girl-desktop.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/desktop/girl-desktop-2x.png');
        }
    }
}

.hero__milk {
    position: absolute;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 124px;
    height: 126px;
    top: 143px;
    left: 20px;
    background-image: url('../images/hero-header/tablet/milk-tablet.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/tablet/milk-tablet-2x.png');
    }

    @media screen and (min-width: 1280px) {
        width: 188px;
        height: 191px;
        top: 265px;
        left: -22px;
        background-image: url('../images/hero-header/desktop/milk-desktop.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/desktop/milk-desktop-2x.png');
        }
    }
}

.hero__text {
    position: absolute;
    width: 114px;
    top: 190px;
    left: 137px;
    @include font($f-s: 8px, $f-w: 400, $l-h: 1.5);
    color: $third-text-color;

    @media screen and (min-width: 1280px) {
        width: 200px;
        top: 315px;
        left: 197px;
        @include font($f-s: 14px, $f-w: 400, $l-h: 1.43);
    }
}

.hero__button-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 245px;
    left: 137px;
    padding: 5px;

    @media screen and (min-width: 1280px) {
        width: 26px;
        height: 26px;
        top: 413px;
        left: 197px;
        padding: 8px;
    }
}

.hero__button-icon {
    fill: $accent-color;
}

.advant-list {
    @extend %list;
}

.advant-list__item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin-bottom: 13px;
    }
}

.advant-list__circle {
    position: absolute;
    top: -7px;
    right: 14px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $third-text-color;

    &--bottom {
        top: 50px;
    }

    @media screen and (min-width: 1280px) {
        top: -16px;
        right: -3px;
        width: 30px;
        height: 30px;
        &--bottom {
        top: 76px;
        }
    }
}

.advant-list__number {
    position: absolute;
    top: -5px;
    right: 24px;
    font-family: Titan One;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;

    &--bottom {
        top: 51px;
    }

    @media screen and (min-width: 1280px) {
        top: -12px;
        right: 15px;
        font-size: 46px;

        &--bottom {
        top: 79px;
        }
    }
}

.advant-list__text {
    position: absolute;
    top: 27px;
    right: 24px;
    @include font($f-s: 8px, $f-w: 400, $l-h: 1.25);
    color: $third-text-color;

    &--bottom {
        top: 83px;
    }

    @media screen and (min-width: 1280px) {
        top: 43px;
        right: 15px;
        @include font($f-s: 14px, $f-w: 400, $l-h: 1.29);
        &--bottom {
        top: 134px;
        }
    }
}
