.products {
  @include sectionPadding(121px, 98px);
  @media screen and (min-width: 768px) {
    @include sectionPadding(121px, 112px);
  }
  @media screen and (min-width: 1280px) {
    @include sectionPadding(127px, 119px);
  }
}

.products__list {
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    margin-top: -17px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -24px;
  }
}

.products__pre-title {
  text-align: center;
}

.products__title {
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 15px;
  margin-bottom: 31px;
  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.06em;
    margin-bottom: 49px;
  }
}

.products__name {
  @include flexCentered($display: flex, $a-i: center, $j-c: center);
  flex-direction: column;
  font-family: Titan One;
  @include font($f-s: 20px, $f-w: 500, $l-h: 1.15);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $third-text-color;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    background-size: cover;
    padding-bottom: 30px;
    width: 247px;
    height: 252px;
    background-position: center;
  }
  &::after {
    content: '...';
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.18em;
    margin-top: 12px;
    text-transform: uppercase;
    color: $third-text-color;
  }
}

.products__item {
  @include flexCentered($display: flex, $a-i: center);
  flex-direction: column;
  padding-top: 113px;
  width: 280px;
  height: 598px;
  margin: 0 auto;
  position: relative;
  &:not(:first-child) {
    margin-top: 17px;
  }
  &:nth-child(1) .products__card {
    background: #ffb8ca;
  }
  &:nth-child(2) .products__card {
    background: #f0d1a5;
  }
  &:nth-child(3) .products__card {
    background: #c2e297;
  }
  &:nth-child(1) .products__name::before {
    background-image: url('../images/products/mobile/icecream1-mobile.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/icecream1-mobile-2x.png');
    }
  }
  &:nth-child(2) .products__name::before {
    background-image: url('../images/products/mobile/icecream2-mobile.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/icecream2-mobile-2x.png');
    }
  }
  &:nth-child(3) .products__name::before {
    background-image: url('../images/products/mobile/icecream3-mobile.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/icecream3-mobile-2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    height: 596px;
    margin-top: 17px;
    margin-left: 20px;
    flex-basis: calc(100% / 3 - 20px);
    &:nth-child(1) .products__name::before {
      background-image: url('../images/products/tablet/icecream1-tablet.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/tablet/icecream1-tablet-2x.png');
      }
      width: 220px;
      height: 226px;
    }
    &:nth-child(2) .products__name::before {
      background-image: url('../images/products/tablet/icecream2-tablet.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/tablet/icecream2-tablet-2x.png');
      }
      width: 220px;
      height: 226px;
    }
    &:nth-child(3) .products__name::before {
      background-image: url('../images/products/tablet/icecream3-tablet.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/tablet/icecream3-tablet-2x.png');
      }
      width: 220px;
      height: 226px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 210px;
    height: 735px;
    margin-top: 17px;
    margin-left: 24px;
    flex-basis: calc(100% / 3 - 24px);
    &:nth-child(1) .products__name::before {
      background-image: url('../images/products/desktop/icecream1-desktop.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/desktop/icecream1-desktop-2x.png');
      }
      width: 337px;
      height: 335px;
    }
    &:nth-child(2) .products__name::before {
      background-image: url('../images/products/desktop/icecream2-desktop.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/desktop/icecream2-desktop-2x.png');
      }
      width: 337px;
      height: 335px;
    }
    &:nth-child(3) .products__name::before {
      background-image: url('../images/products/desktop/icecream3-desktop.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/products/desktop/icecream3-desktop-2x.png');
      }
      width: 337px;
      height: 335px;
    }
  }
}

.products__text {
  font-family: DM Sans, sans-serif;
  @include font($f-s: 14px, $f-w: 700, $l-h: 1.52);
  text-align: center;
  letter-spacing: 0.04em;
  color: $third-text-color;
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.products__card {
  border-radius: 24px;
  padding: 161px 40px 41px 40px;
  @include flexCentered($display: flex, $a-i: center, $j-c: center);
  flex-direction: column;
  width: 100%;
  height: 485px;
  @media screen and (min-width: 768px) {
    padding: 152px 11px 41px 11px;
  }
  @media screen and (min-width: 1280px) {
    height: 525px;
    padding: 163px 44px 55px 44px;
  }
}

.products__btn {
  @include flexCentered($display: flex, $a-i: center, $j-c: center);
  width: 40px;
  height: 40px;
  background-color: $third-text-color;
  margin-top: auto;
}

.products__icon {
  fill: $accent-color;
}
